configuration {
    show-icons: true;

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    font: "PragmataPro 18";

    terminal: "ghostty";
}

@theme "~/.config/rofi/catppuccin-lavrent-mocha.rasi"

